.registerPageContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.title {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .registerPageContainer {
    padding: 0 16px;
  }

  .title {
    margin-bottom: 16px;
  }
}
