.card {
  width: 300px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 4px 16px -4px rgba(0, 0, 0, 0.16);

  border-radius: 8px;
  background-color: var(--background);
  padding: 12px;
  position: relative;
  overflow: auto;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrap {
  display: flex;
  gap: 10px;
}

.wrap svg {
  flex-shrink: 0;
}

.text {
  margin: 0;
  font-size: 18px;
  color: var(--text);
}

.tel {
  transition: color 250ms ease;
}

.tel:focus,
.tel:hover {
  color: #ffffff;
}

.delete,
.edit {
  position: absolute;
  top: 50%;
  transform: translate(-25%, -50%);
  right: 0;
}

.edit {
  right: 45px;
}
