.loginPageContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.pageTitle {
  font-family: "Comic Sans MS", cursive;
  text-align: center;
  color: var(--text);
  font-size: 36px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .loginPageContainer {
    padding: 0 16px;
  }
  .pageTitle {
    font-size: 46px;
    margin-bottom: 30px;
  }
}
